/* Global reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Global page layout */
body {
    font-family: "JetBrains Nerd Font", "JetBrains Mono", "Fira Code", "Courier New", monospace;
    max-width: 900px;
    margin: 60px auto;
    padding: 40px;
    background: #000000;
    color: #00ff66;
    line-height: 1.2;}

body.code-body {
    background: #000;
    color: #fff;
    font-family: "JetBrains Nerd Font", "JetBrains Mono", monospace;
    padding: 40px;
}
pre {
    background: #0a0a0a;
    padding: 20px;
    border-radius: 8px;
    overflow-x: auto;
}
/* Syntax Highlighting in src/repo's */
.keyword { color: #ff79c6; } /* pink and purple*/
.string  { color: #50fa7b; } /* green */
.number  { color: #bd93f9; } /* purple */
.comment { color: #6272a4; } /* muted blue */

h1, h2, h3 {
    color: #ffffff;     /*White and black is 000000*/
    margin-bottom: 20px;
    font-weight: bold;
}
h1 { 
    font-size: 3.5rem;
    margin-bottom: 10px;
}
h2 { font-size: 2.5rem; 
     margin-top: 40px 0;}

     h3 { font-size: 1.8rem; }

a {
    color: #6cf;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color: #33ff88;
}

.projects {
   udisplay: block;
    padding: 12px 16px;
    margin: 12px 0;
    background: #222;
    border-radius: 6px;
    text-decoration: none;
    color: #6cf;
    font-weight: bold;
    transition: background 0.2s;
}
.projects:hover {
    background: #333;
}

.card {
    background: #112544;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border-left: 5px solid red;
}

nav {
    margin-bottom: 40px;

}
nav a {
    margin-right: 20px;
}

.hero-box {
    background: linear-gradient(100deg, #0a1a2f, #112544);
    padding: 20px;
    border-radius: 15px;
    border-left: 5px solid red;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0 0 25px rgba(0, 255, 102, 0.25);
    animation: glow 2s infinite alternate;
}

.left-text {
    text-align: left;
}

@keyframes glow {
    from { border-left-color: #00ff66; }
    to   { border-left-color: #33ff88; }
}

/* Terminal block */
.terminal {
    background: #112544; /* slightly lighter navy */
    padding: 20px;
    border-radius: 8px;
    font-family: monospace;
    color: red;
    margin-top: 30px;
    border-left: 4px solid red;
}
/* This is my element that will allow me to put paragraph formatting inside of my html element containers... I am learning...*/
.my-text-block p {
    text-indent: 2rem;
    margin-bottom: 1rem;
}
.my-text-block {
    padding: 20px;
    line-height: 1.6;
}
.replog-banner {
    font-size: 1.1rem;  /* Increase Size */
    line-height: 1.1;   /* Tighten spacing so ASCII stays aligned*/
    margin-top: 25px;   /* optional */
    margin-bottom: 10px;     /* spacing above/below */
    margin: 40px auto;      /* center the block itself*/
    color: #00ff66;
    text-shadow: 0 0 8px #00ff66;
    text-align: center;
    display: inline-block;  /* makes the pre shrink to its content */
}
